*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body{
	line-height: 1.3;
	font-family: "Roboto", sans-serif;
	color: #000000;
	background-color:#FAFAFA;
	min-height: 100%;
}

.container{
	padding-left: 16px;
	padding-right: 16px;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

h1{
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	margin: 0 32px;
	display: inline-block;
	vertical-align: middle; 
}

h3{
	font-weight: 500;
	font-size: 16px;
}

h4{
	font-weight: 400;
	font-size: 16px;
	opacity: 0.87;
}

h5{
	font-weight: 400;
	font-size: 14px;
	opacity: 0.54;
}

p{
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	opacity: 0.87;
}

a, a:hover{
	text-decoration: none;
	color: inherit;
}

/*--NAV BAR--*/

.navbar{
	background-color: #068894;
	height: 56px;
	line-height: 56px;
	width: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 0;
	margin: 0;
}

.navbar img{
	vertical-align: middle;
}

.navbar.tabtop{
	box-shadow: none;
}

.icon-left{
	display: inline-block;
	float: right;
	margin-right: 32px;
}

.filter-icon img{
	height: 20px;
}

.icon-right{
	float: right;
	display: inline-block;
}

.tabs{
	width: 100%;
	height: 48px;
	background-color: #068894;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.tab{
	width: 32.6%;
	display: inline-block;
	text-align: center;
}

.tabs h2{
	font-weight: 500;
	font-size: 14px;
	color: #ffffff;
	line-height: 48px;
}

.unselected{
	opacity: 0.7;
}

.selected-tip{
	height: 2px;
	background-color: #e9662c;
	margin-top: -2px;
}

/*--SAFETY STATUS--*/
.dashboard-top{
	margin: 16px 16px 12px;
}

.safety{
	padding: 16px;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.safety img{
	display: inline-block;

}

.safety .status, .safety .site{
	display: inline-block;
	margin-left: 16px;
	vertical-align: middle;
}

.safety .status h3, p{
	margin: 0;
}

.safety .status h2{
	color: #e9662c;
	opacity: 0.87;
	margin-top: 5px;
	margin-bottom: 2px;
}

.site-list{
	padding-top: 16px;
}

.safety .site h2{
	font-size: 18px;
	opacity: 0.87;
	margin-bottom: 4px;
}

.safety .site span{
	font-weight: 500;
	opacity: 0.87;
}

.caution .site span{
	color: #e9662c;
}

.safe .site span{
	color: #00ac65;
}

.danger .site span{
	color: #c63636;
}

.site-list .safety{
	margin-bottom: 8px;
}
/*--HAZARDS--*/
.hazard{
	height: 60px;
	margin-top: 8px;
	background-color: #ffffff;
	border-radius: 2px;
	/*padding: 12px 16px 12px 20px;*/
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.hazard-list{
	padding: 8px 16px 24px;
}

.color{
	width: 4px;
	height: inherit;
	float: left;
	display: inline-block;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.orange{
	background-color: #e9662c;
}

.yellow{
	background-color: #ffeb3b;
}

.green{
	background-color: #00ac65;
}

.hazard .info{
	padding: 12px 16px 12px 20px;
}

.hazard .time{
	float: right;
	vertical-align: top;
}

.sitenum{
	float: right;
}

.ppm, .sitenum{
	margin-top: 4px;
}

/*--DASHBOARD BOTTOM--*/
.divider{
	background-color: #068894;
	padding: 14px 16px;
}

.divider a{
	float: right;
	margin-top: -2px;
}

.divider h3{
	color: #ffffff;
}

.feed{
	margin: 0px 16px 16px;
	padding-top: 4px;
}


